.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  
  .drawer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
    position: absolute;
    width: 385px;
    height: 100%;
    right: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  }
  
  .items {
    overflow: auto;
    flex: 1;
  }
  
  .cartItem {
    align-items: center;
    border: 2px solid #c2c2c2;
    border-radius: 20px;
    overflow: hidden;
  margin-bottom: 20px;
  }
  
  .cartItemImg {
  height: 70px;
  width: 70px;
  background-size: contain;
  background-position-x: 10px;
  background-repeat: no-repeat;
  margin-right: 20px;
  }
  
  .cartItemInfo {
    margin-right: 30px;
  }
  
  .removeBtn {
    opacity: 0.5;
  }
  
  .removeBtn:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
  }
  
  .green_button {
  width: 100%;
  cursor: pointer;
  background-color: rgb(104, 255, 104);
  margin-bottom: 30px;
  }
  
  .line_info {
    display: flex;
    align-items: flex-end;
  }
  
  .cartLine {
    flex: 1;
    height: 1;
    border-bottom: 1px dashed #b3b3b3;
    position: relative;
    top: -4px;
    margin: 0 7px
  }
  
  .basket {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .cartEmpty {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }